<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rtyui.mvptalk">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".tool.App"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.account.LoginActivity"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.account.RegistActivity"/>
        <activity android:name=".view.account.WelcomeActivity"/>

        <activity android:name=".view.main.MainActivity" android:launchMode="singleTask"/>
        <activity android:name=".view.friend.AddFriendActivity"/>
        <activity android:name=".view.friend.AddFriendPageActivity"/>
        <activity android:name=".view.friend.NewFriendActivity"/>

        <activity android:name=".view.team.TeamAddActivity"/>
        <activity android:name=".view.team.TeamCreateActivity"/>
        <activity android:name=".view.msg.TeamTalkActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".view.teamer.TeamIndexActivity"/>

        <activity android:name=".view.user.UserIndexDelFriendActivity"/>
        <activity android:name=".view.user.UserIndexChangeRemarkActivity"/>
        <activity android:name=".view.user.UserIndexActivity"/>

        <activity android:name=".view.mine.ChangeNickActivity"/>
        <activity android:name=".view.mine.ChooseAlbumActivity"/>
        <activity android:name=".view.mine.ChoosePhotoActivity"/>
        <activity android:name=".view.mine.OwnerActivity"/>

        <activity android:name=".view.common.ImgShowActivity"
            android:theme="@style/FullScreen"/>
        <activity android:name=".view.common.FileChooseActivity"/>

        <activity android:name=".view.msg.TalkActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize"/>

        <service android:name=".back.MyService"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="fuckFuckCrop"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>